
#incase components were to be pulled in 
leader
mapper
nanny
persistence
routing
summarizer
ui-server
feed-admin
worker
feed-admin
feed-manager

# python stuff
venv
# incase there is any confidential things
.env
.auth
__pycache__
*.pyc

# template resolved files
etc/aws/ecs/deployment-task.json
deployment-task.json
tmp
ci.log
*.swp

update-listener-pid
