version: '3'

services:

  router:
    container_name: feed_router
    image: ${IMAGE_REPOSITORY}/${PROJECT_NAME}/routing:0.0.0
    restart: unless-stopped
    stop_grace_period: 5s
    env_file:
      - ./envs/deployment.env

  nanny:
    container_name: feed_nanny
    image: ${IMAGE_REPOSITORY}/${PROJECT_NAME}/nanny:0.0.0
    restart: unless-stopped
    stop_grace_period: 5s
    environment:
    - NETWORK=feed_default
    env_file:
      - ./envs/deployment.env

  ui-server:
    container_name: feed_ui-server
    image: ${IMAGE_REPOSITORY}/${PROJECT_NAME}/ui-server:0.0.0
    restart: unless-stopped
    env_file:
      - ./envs/deployment.env

  commands:
    image: ${IMAGE_REPOSITORY}/${PROJECT_NAME}/summarizer:0.0.0
    restart: unless-stopped
    stop_grace_period: 5s
    env_file:
    - envs/deployment.env

  summarizer:
    image: ${IMAGE_REPOSITORY}/${PROJECT_NAME}/summarizer:0.0.0
    restart: unless-stopped
    stop_grace_period: 5s
    env_file:
    - ./envs/deployment.env
    environment:
      - TOPICS=results
      - PREFIX=stg

  mapper:
    image: ${IMAGE_REPOSITORY}/${PROJECT_NAME}/mapper:0.0.0
    restart: unless-stopped
    stop_grace_period: 5s
    env_file:
    - ./envs/deployment.env

  persistence:
    image: ${IMAGE_REPOSITORY}/${PROJECT_NAME}/persistence:0.0.0
    restart: unless-stopped
    stop_grace_period: 5s
    env_file:
      - ./envs/deployment.env
  leader:
    image: ${IMAGE_REPOSITORY}/${PROJECT_NAME}/leader:0.0.0
    restart: unless-stopped
    stop_grace_period: 5s
    env_file:
      - ./envs/deployment.env

  feed-admin:
    image: ${IMAGE_REPOSITORY}/${PROJECT_NAME}/feed-admin:0.0.1
    restart: unless-stopped
    ports:
      - "80:80"
    stop_grace_period: 5s
    env_file:
      - ./envs/deployment.env
    environment:
      - UISERVER=http://feed_ui-server:5000
      - COMMANDSERVER=http://feed_commands:5000
      - SERVERNAME=feed-admin

