apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: feed-admin
  name: feed-admin
spec:
  replicas: {{ .Values.feedAdminReplicas }}
  selector:
    matchLabels:
      app: feed-admin
  template:
    metadata:
      labels:
        app: feed-admin
    spec:        
      imagePullSecrets:
      - name: awsecr-cred 
      containers:
      - env:
        - name: SERVERNAME
          value: {{ .Values.feedAdminHostname }}
        - name: UISERVER
          value: http://ui-server:5000
        - name: NANNYSERVER
          value: http://nanny:5000
        image: {{ .Values.imageRepository }}/{{ .Values.feedAdminVersion }}
        name: feed-admin
        ports:
        - containerPort: 443
        resources: {}
        volumeMounts:
        - mountPath: "/etc/certs"
          name: feed-admin-ssl
          readOnly: true
      volumes:
      - name: feed-admin-ssl
        secret:
          secretName: 'feed-admin-ssl'
          defaultMode: 0640
      restartPolicy: Always

