apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: leader
  name: leader
spec:
  replicas: {{ .Values.leaderReplicas }}
  selector:
    matchLabels:
      app: leader
  template:

    metadata:
      labels:
        app: leader
    spec:
      imagePullSecrets:
      - name: awsecr-cred
      containers:
      - image: {{ .Values.imageRepository }}/{{ .Values.leaderVersion }}
        name: leader
        livenessProbe:
          exec:
            command:
            - curl
            - http://localhost/wd/hub/status # TODO look into making this a httpGet, without having to expose container
        resources: {}
        env:
        - name: KAFKA_ADDRESS
          valueFrom:
            configMapKeyRef:
              key: KAFKA_ADDRESS
              name: {{ .Values.environment }}-env
        - name: KAFKA_TOPIC_PREFIX
          valueFrom:
            configMapKeyRef:
              key: KAFKA_TOPIC_PREFIX
              name: {{ .Values.environment }}-env
        - name: LOG_LEVEL
          valueFrom:
            configMapKeyRef:
              key: LOG_LEVEL
              name: {{ .Values.environment }}-env
        - name: NANNY_HOST
          valueFrom:
            configMapKeyRef:
              key: NANNY_HOST
              name: feedmachine-env
        - name: ROUTER_HOST
          valueFrom:
            configMapKeyRef:
              key: ROUTER_HOST
              name: feedmachine-env
        - name: KAFKA_TOPIC_PREFIX
          valueFrom:
            configMapKeyRef:
              key: KAFKA_TOPIC_PREFIX
              name: {{ .Values.environment }}-env
        - name: SELENIUM_PORT
          valueFrom:
            configMapKeyRef:
              key: SELENIUM_PORT
              name: feedmachine-env

      restartPolicy: Always
